<div class="flex flex-row justify-start items-center text-center h-20 bg-blue-base">
    <img src="/assets/images/image2.png" alt="logo" class="w-8 h-10 ml-10">
    <p class="text-lg text-white pl-20 pt-2">SCA - BAAN</p>
</div>

<div class="flex justify-center mt-6">
    <img src="/assets/images/foto.png" alt="foto mobile">
</div>
<div class="flex">
    <button class="bg-contain bg-no-repeat h-12 w-12 ml-8 mt-2" style="background-image: url('/assets/images/camera.png');"></button>
    <p class="text-gray-text pt-6 pl-2">Foto obrigatória</p>
</div>

<form class="flex ml-10 gap-4 flex-col mt-4">
        <label for="Nome completo" class="text-blue-base"> Nome completo*
            <input type="text" required class="block rounded-lg border-blue-base border-2 w-80 h-8">
        </label>
    
        <label for="CPF" class="text-blue-base"> CPF*
            <input type="text" required class="block rounded-lg border-blue-base border-2 w-80 h-8">
        </label>
    
        <label for="Telefone" class="text-blue-base"> Telefone*
            <input type="text" required class="block rounded-lg border-blue-base border-2 w-80 h-8">
        </label>
    
        <div class="flex ">
        <label for="Data de nascimento" class="text-blue-base"> Data de nascimento
            <input type="text" required class="block rounded-lg border-blue-base border-2 w-2/1 h-8">
        </label>
        </div>

        <label for="Email" class="text-blue-base"> Email*
            <input type="text" required class="block rounded-lg border-blue-base border-2 w-80 h-8">
        </label>

        <label for="Veiculo Proprio" class="text-blue-base">Possui veículo próprio?
            <div class="flex space-x-60">
            <input type="checkbox" class="">
            <input type="checkbox" class="">
            </div>
        </label>
</form>